# Database Configuration
DB_USERNAME=root
DB_PASSWORD=

# JWT Configuration
JWT_ISSUER_URI=http://localhost:8080
JWT_JWK_SET_URI=http://localhost:8080/.well-known/jwks.json

# Spring Profile
SPRING_PROFILES_ACTIVE=dev
